* {
	margin: 0;
	padding: 0;
}

.nav-container {
	background-color: black;
	padding: 40px 30px;
	color: white;
	/* box-shadow: 10px solid black; */
	margin-bottom: 50px;
	align-items: center;
	justify-content: center;
}

.nav-logo {
	width: auto;
	height: 40px;
	margin: 0;
}

.nav-container > ul {
	display: flex;
	float: right;
	list-style-type: none;
	margin-top: 14px;
}

.nav-item {
	margin-left: 40px;
}

a {
	font-size: medium;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-decoration: none;
	color: white;
}
a:hover {
	cursor: pointer;
	color: rgb(236, 240, 6);
}

.section-title {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 50px;
}

.main-body {
	padding: 0 90px;
	width: fit-content;
	margin-bottom: 200px;
}

.images-row {
	display: inline-flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
}

.card {
	border-radius: 10px;
	border: solid rgb(17, 107, 107);
	padding: 20px;
	width: fit-content;
	margin: 20px 30px;
	text-align: center;
}
.card-body > img {
	width: 300px;
	height: 200px;
	border-radius: 5px;
}

.card-title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.list-items {
	margin-top: 50px;
}

.list-items ul > li {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-section {
	width: fit-content;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

button {
	cursor: pointer;
	border: none;
}

.btn {
	padding: 10px 20px;
	background-color: rgb(204, 3, 160);
	border-radius: 8px;
	color: white;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:hover {
	background-color: springgreen;
}

.red-btn {
	background-color: red;
}
.red-btn:hover {
	background-color: tomato;
}

.round-btn {
	border-radius: 20px;
}

.form-area > h3 {
	margin-bottom: 50px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-area {
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgb(17, 107, 107);
	padding: 100px 0px;
	text-align: center;
	color: #fff;
}

.form-btn {
	padding: 15px 10px;
	font-size: 20px;
	color: white;
	background-color: rgb(2, 190, 190);
}

.form-input {
	border: none;
	padding: 15px 10px;
	border-radius: 15px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	width: 500px;
	font-size: 20px;
}

.success-msg {
	margin-top: 30px;
}

.thanks-msg {
	background-color: rgb(43, 167, 43);
	border-radius: 10px;
	padding: 8px 10px;
	margin: 0px 200px;
	animation: show 5s ease-out forwards;
}

@keyframes show {
	0% {
		content: "";
		opacity: 0;
	}
	20% {
		content: "";
		opacity: 1;
	}
	90% {
		content: "";
		opacity: 1;
	}
	100% {
		content: none;
		opacity: 0;
	}
}

.contact-form-area {
	margin-top: 50px;
	width: 100%;
	display: inline-block;
	background-color: rgb(17, 107, 107);
	padding: 100px 0px;
	text-align: center;
	color: #fff;
}

.form-group {
	margin-top: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.contact-details {
	align-items: center;
	text-align: center;
}

.contact-details h1 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 50px;
	text-transform: capitalize;
}

.contact-details h6 {
	font-size: 15px;
	margin-bottom: 25px;
}

.form-group textarea {
	width: 600px;
	height: 180px;
}

.big-margin {
	margin-top: 60px;
}
